.version.chattishgarh /* version checker */
{
	color: #000017;
	background-color: #E2166D;
}

.html
{
	background-color: #E0F9FF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 535px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -465px;
	width: 0.01px;
}

#pu259
{
	width: 0.01px;
	margin-left: -100px;
}

#u259_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u256
{
	z-index: 5;
	width: 233px;
	margin-right: -10000px;
}

#u259,#u259-bw
{
	z-index: 2;
	min-height: 215px;
}

#u260-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 42px;
	left: 226px;
}

#menuu271
{
	z-index: 11;
	width: 1098px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 214px;
}

#u279
{
	width: 108px;
	min-height: 53px;
	margin-right: -10000px;
}

#u280
{
	width: 108px;
	padding-bottom: 34px;
}

#u280.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u283
{
	height: 19px;
	width: 56px;
	margin-right: -10000px;
	top: 17px;
	left: 26px;
}

#u272
{
	width: 147px;
	min-height: 53px;
	margin-right: -10000px;
	left: 110px;
}

#u273
{
	width: 147px;
	padding-bottom: 34px;
}

#u273.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u287
{
	width: 165px;
	min-height: 53px;
	margin-right: -10000px;
	left: 259px;
}

#u290
{
	width: 165px;
	padding-bottom: 34px;
}

#u293
{
	height: 19px;
	width: 113px;
	margin-right: -10000px;
	top: 17px;
	left: 26px;
}

#u294
{
	width: 165px;
	min-height: 53px;
	margin-right: -10000px;
	left: 426px;
}

#u297
{
	width: 165px;
	padding-bottom: 34px;
}

#u290.MuseMenuActive,#u297.MuseMenuActive
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u299
{
	height: 19px;
	width: 99px;
	margin-right: -10000px;
	top: 17px;
	left: 26px;
}

#u298
{
	z-index: 32;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 19px;
	left: 125px;
}

#u297.MuseMenuActive #u298
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u295
{
	width: 120px;
	top: 53px;
}

#u836
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u836:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u837-4
{
	width: 51px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 29px;
}

#u836:hover #u837-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u836.MuseMenuActive #u837-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u873
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u836.MuseMenuActive,#u873:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u874-4
{
	width: 64px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 23px;
}

#u873:hover #u874-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u899
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u873.MuseMenuActive,#u899:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u901-4
{
	width: 64px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 23px;
}

#u873.MuseMenuActive #u874-4,#u899:hover #u901-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u899.MuseMenuActive #u901-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u927
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u899.MuseMenuActive,#u927:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u928-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 21px;
}

#u927:hover #u928-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u927.MuseMenuActive #u928-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u790
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u927.MuseMenuActive,#u790:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u792-4
{
	width: 84px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 13px;
}

#u790:hover #u792-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u790.MuseMenuActive #u792-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u888
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u790.MuseMenuActive,#u888:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u889-4
{
	width: 83px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 13px;
}

#u888:hover #u889-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u888.MuseMenuActive #u889-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u862
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u888.MuseMenuActive,#u862:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u863-4
{
	width: 25px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 42px;
}

#u862:hover #u863-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 25px;
	margin: 0px -10000px 0px 0px;
}

#u862.MuseMenuActive #u863-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 25px;
	margin: 0px -10000px 0px 0px;
}

#u823
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u862.MuseMenuActive,#u823:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u824-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 5px;
}

#u823:hover #u824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u823.MuseMenuActive #u824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u296,#u833,#u872,#u898,#u926,#u789,#u885,#u859,#u820,#u807
{
	width: 120px;
}

#u810
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u823.MuseMenuActive,#u810:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u810.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u811-4
{
	width: 98px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 6px;
}

#u810:hover #u811-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u810.MuseMenuActive #u811-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u301
{
	width: 222px;
	min-height: 53px;
	margin-right: -10000px;
	left: 593px;
}

#u302
{
	width: 222px;
	padding-bottom: 34px;
}

#u302.MuseMenuActive
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u304
{
	height: 19px;
	width: 170px;
	margin-right: -10000px;
	top: 17px;
	left: 26px;
}

#u308
{
	width: 133px;
	min-height: 53px;
	margin-right: -10000px;
	left: 817px;
}

#u309
{
	width: 133px;
	padding-bottom: 34px;
}

#u309.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u311
{
	height: 19px;
	width: 81px;
	margin-right: -10000px;
	top: 17px;
	left: 26px;
}

#u315
{
	width: 146px;
	min-height: 53px;
	margin-right: -10000px;
	left: 952px;
}

#u318
{
	width: 146px;
	padding-bottom: 34px;
}

#u318.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u274,#u320
{
	height: 19px;
	width: 94px;
	margin-right: -10000px;
	top: 17px;
	left: 26px;
}

#u971-5
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-left: 260px;
	margin-top: 43px;
	position: relative;
}

#pu225
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 58px;
}

#u225
{
	z-index: 3;
	height: 73px;
}

#u225-bw
{
	z-index: 3;
	margin-top: 48px;
	height: 73px;
}

#u226
{
	z-index: 4;
	height: 67px;
}

.ie #u225,.ie #u226
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u226-bw
{
	z-index: 4;
	margin-top: 55px;
	height: 67px;
}

#u972
{
	z-index: 109;
	width: 960px;
	border-width: 6px;
	border-style: solid;
	border-color: #C65200;
	background-color: transparent;
	border-radius: 5px;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 94px;
}

#u972 .clip_frame
{
	-webkit-border-radius: 0px 0px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 19px;
	padding-bottom: 524px;
}

#page .verticalspacer
{
	clear: both;
}

